 h1{
    color :green;
 }
 h2{
   color:red;
 }
 h3{
   color:blue;
 }
 h4{
   color: rgb(255, 149, 0);
 }
 button{
   color:rgb(42, 42, 165);
 }
 body{
   background-color:wahit;
 } 


 